[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"

[dev-packages]
doit = "*"
flake8 = "*"
pydocstyle = "*"
sphinx = "*"
coverage = "*"
build = "*"
setuptools = "*"

[requires]